{% extends "default.html" %}
{% block title %}Create New Conference{% endblock %}
{% block header %}Please enter the information for the new conference:{% endblock %}
{% block content %}
    <form method="POST" action="do_create_conference">
    <table class="data_entry_form">
        <tr><th><label>Name:</label></th><td><input type="text" name="name"></td></tr>
        <tr><th><label>Description:</label></th><td><input type="text" name="description"></td></tr>
        <tr><th><label>Teams:</label></th><td><input type="text" name="teams"></td></tr>
        <tr><th colspan="2"><button type="submit">CREATE</button></th></tr>
    </table>
    </form>
{% endblock %}

